@using UserVoiceSystem.Web.ViewModels.Comments

@model CommentsListViewModel

@foreach (var comment in Model.Comments)
{    
    <div class="row comment-view-idea">
        <div class="comment-meta-data">
            <span>@comment.AuthorEmail</span>&nbsp;<span>commented @comment.CreatedOn</span>
        </div>
        <div class="comment-content">
            @comment.Content
        </div>
    </div>
}

<div class="text-center">
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage != 1)
            {
                <li>
                    <a href="@(Model.Url)?page=@(Model.CurrentPage - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                var className = string.Empty;
                if (Model.CurrentPage == i)
                {
                    className = "active";
                }
                <li class="@className"><a href="@(Model.Url)?page=@(i)">@(i)</a></li>
            }

            @if (Model.CurrentPage != Model.TotalPages)
            {
                <li>
                    <a href="@(Model.Url)?page=@(Model.CurrentPage + 1)" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>

    </nav>
</div>